# Node
node_modules/
pnpm-lock.yaml
yarn.lock
package-lock.json
.DS_Store
.env
.env.*
!.env.example
*.log

# Build outputs
.next/
dist/
coverage/
*.tsbuildinfo

# VS Code
.vscode/

# Terraform
*.tfstate
*.tfstate.*
.terraform/

# Kubernetes
*.kube/

# Mac
Thumbs.db
